# Files
labs_hw/*.html
labs_hw/*/*.html
labs_hw/cases/

# Folders
literature/
data/
code/da_scenes/
syllabus/design material/

# File types
*.pdf
*.docx
*.pptx

# pixi environments
.pixi
*.egg-info
.envrc

# Python
__pycache__/
*.pyc
*.pyo
