# Folders
code/da_scenes/
data/
labs_hw/cases/
labs_hw/week12_AI/demo1/
literature/
slides/
syllabus/

# File types
*.pdf
*.docx
*.pptx
*.xlsx
*.csv
*.tsv

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info
.ipynb_checkpoints/
*.lock
.pixi/

# Editors
.vscode/

# OS nonsense
.DS_Store
Thumbs.db
desktop.ini
